1. Launched Instances T2.large in aws

2. add user cmadmin on all nodes
    useradd cmadmin
	passwd cmadmin
    
3. add users cmadmin to wheel group using
    usermod -aG wheel cmadmin on all host

4. make changes in the /etc/sudoers file by uncommenting %wheels for no password on all host.

5.Changed root passwd to admin123 on all host.

6. Mysql DB

7. ssh for all host
	i.	#ssh-keygen -t rsa    (Server)
	ii.	#chmod 600 .ssh/my.key (Server)
	ii. #cat ~/.ssh/id_rsa.pub | ssh -i ~/.ssh/my.pem centos@ip-172-31-5-47.us-east-2.compute.internal "cat >> ~/.ssh/authorized_keys"
	iv.	#cat ~/.ssh/id_rsa.pub | ssh -i ~/.ssh/my.pem centos@ip-172-31-11-14.us-east-2.compute.internal "cat >> ~/.ssh/authorized_keys"
	       or # ssh-copy-id -i ~/.ssh/id_rsa.pub user@remote-host
	       Make Sure .pem key provided by aws is already in your server home for first time ssh login
	v.	now you can ssh using centos user to other hosts.

8.  create HOSTLIST file in home (centos)

GITREPO=~/git/teamclairvoyant/bash

cat <<EOF >HOSTLIST
centos@ip-172-31-11-45.us-east-2.compute.internal
centos@ip-172-31-5-47.us-east-2.compute.internal
centos@ip-172-31-11-14.us-east-2.compute.internal
EOF 

9. Evaluation

for HOST in `cat HOSTLIST`; do
  echo "*** $HOST"
  scp -p ${GITREPO}/evaluate.sh ${HOST}:
  ssh -qt $HOST '.${GITREPO}/evaluate.sh' >evaluate-pre/${HOST}.out 2>evaluate-pre/${HOST}.err
done

10. Secure Copy of Scripts
   for HOST in `cat HOSTLIST`; do
  echo "*** $HOST"
  scp -p \
  ${GITREPO}/install_tools.sh \
  ${GITREPO}/change_swappiness.sh \
  ${GITREPO}/disable_iptables.sh \
  ${GITREPO}/disable_ipv6.sh \
  ${GITREPO}/disable_selinux.sh \
  ${GITREPO}/disable_thp.sh \
  ${GITREPO}/install_ntp.sh \
  ${GITREPO}/install_nscd.sh \
  ${GITREPO}/install_jdk.sh \
  ${GITREPO}/configure_javahome.sh \
  ${GITREPO}/install_jce.sh \
  ${GITREPO}/install_krb5.sh \
  ${GITREPO}/configure_tuned.sh \
  ${GITREPO}/link_openssl.sh \
  ${GITREPO}/install_entropy.sh \
  ${GITREPO}/install_jdbc.sh \
  ${GITREPO}/install_jdbc_sqoop.sh \
  ${GITREPO}/install_clouderamanageragent.sh \
  $HOST:
done

11. Parallel Execution of copies scripts

BOPT="-x"    # Turn on bash debugging.
CMVER=5.12.2  # Set specific Cloudera Manager version, or ...
#CMVER=5       # ... use major version 5.
for HOST in `cat HOSTLIST`; do
  echo "*** $HOST"
  ssh -t $HOST " \
  sudo bash $BOPT ./install_tools.sh; \
  sudo bash $BOPT ./change_swappiness.sh; \
  sudo bash $BOPT ./disable_iptables.sh; \
  sudo bash $BOPT ./disable_ipv6.sh; \
  sudo bash $BOPT ./disable_selinux.sh; \
  sudo bash $BOPT ./disable_thp.sh; \
  sudo bash $BOPT ./install_ntp.sh; \
  sudo bash $BOPT ./install_nscd.sh; \
  sudo bash $BOPT ./install_jdk.sh 8 $CMVER; \
  sudo bash $BOPT ./configure_javahome.sh; \
  sudo bash $BOPT ./install_jce.sh; \
  sudo bash $BOPT ./install_krb5.sh; \
  sudo bash $BOPT ./configure_tuned.sh; \
  sudo bash $BOPT ./link_openssl.sh; \
  sudo bash $BOPT ./install_entropy.sh"
done

12. Restart All Hosts

13. Cloudera CM Agent Installation

CMSERVER=Server FQDN
for HOST in `cat HOSTLIST`; do
  echo "*** $HOST"
  ssh -t $HOST "sudo bash $BOPT ./install_clouderamanageragent.sh $CMSERVER $CMVER"
done

14. Cloudera CM Server Installation

scp -p ${GITREPO}/install_clouderamanagerserver.sh ${CMSERVER}:
ssh -t ${CMSERVER} "sudo bash $BOPT ./install_clouderamanagerserver.sh embedded $CMVER"


15. prepare DB
    # /usr/share/cmf/schema/scm_prepare_database.sh mysql scm scm scm
	
	NOTE:- In case of DB error Create a database for the SCM.
		mysql> create database scm DEFAULT CHARACTER SET utf8;
		mysql> grant all on scm.* TO 'scm'@'%' IDENTIFIED BY 'scm';

16. Post Evaluation
mkdir evaluate-post
for HOST in `cat HOSTLIST`; do
  echo "*** $HOST"
  scp -p ${GITREPO}/evaluate.sh ${HOST}:
  ssh -qt $HOST './evaluate.sh' >evaluate-post/${HOST}.out 2>evaluate-pre/${HOST}.err
done
